@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-snoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F8FAF9;
  height: 100vh;
  min-height: 650px;
  color: black;
  position: relative;
}
.hero::after {
  content: "";
  width: 46px;
  height: 10px;
  background: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
  right: 10%;
}

.hero__container {
  background: url("../img/background/Ellipse.png") right center/50% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 25px 0 50px;
}

.hero__title-section {
  max-width: 40%;
}

.hero__main-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 36px;
  padding-right: 15%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  text-decoration: none;
}

.menu__item {
  margin-right: 15px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  text-decoration: none;
}

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 45px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  margin-right: 5px;
}

.feature__text {
  max-width: 100px;
}

.btn {
  width: 163px;
  height: 54px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  padding: 18px 41px;
  border-radius: 100px;
  border: none;
}
.btn--theme--red {
  color: white;
  background: #E01F3D;
}
.btn--theme--red:hover {
  color: #E01F3D;
  background: white;
}
.btn--theme--transparent {
  background: transparent;
  color: white;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #666666;
}

.section {
  height: 100vh;
  max-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color--white {
  color: white;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  color: black;
}

.order-section {
  background: url("../img/background/cta.png") center center/100% auto no-repeat;
  position: relative;
}
.order-section::after {
  content: url("../img/decor/Polygon 2.png");
  position: absolute;
  top: -24px;
  right: 90px;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 20px;
}

.headline__subtitle {
  margin-bottom: 60px;
  padding: 0 25%;
}

.benefits-section {
  position: relative;
}
.benefits-section::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 34px solid #E01F3D;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -17px;
  left: 7%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  position: absolute;
  content: url("../img/decor/seporated.png");
  top: 60px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  content: "";
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #F8FAF9;
  position: relative;
  overflow: hidden;
}

.benefit__title {
  font-weight: bold;
  color: black;
}

.benefit__image-icon {
  width: 68px;
  height: 68px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -60px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 27px;
  color: black;
}

.reviews__text {
  color: #666666;
  margin-bottom: 38px;
}

.reviews__author {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 5px solid transparent;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border-radius: 4px;
  border: 3px solid transparent;
}
.form__input--textarea {
  height: 180px;
  resize: none;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__btns {
  margin-top: 20px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-right: 16px;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 2px;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/decor/Vector.png") center center no-repeat;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 14px;
  height: 14px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-section {
  background: url("../img/background/map.png") center center/100% auto no-repeat;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 0px;
}

.socials__item {
  width: 30px;
  height: 30px;
  background: center center no-repeat;
}
.socials__item--vk {
  background-image: url("../img/icon/socials/vk.svg");
}
.socials__item--vk:hover {
  background-image: url("../img/icon/socials/vk-h.svg");
}
.socials__item--fb {
  background-image: url("../img/icon/socials/f.svg");
}
.socials__item--fb:hover {
  background-image: url("../img/icon/socials/f-h.svg");
}
.socials__item--inst {
  background-image: url("../img/icon/socials/in.svg");
}
.socials__item--inst:hover {
  background-image: url("../img/icon/socials/in-h.svg");
}
.socials__item--tg {
  background-image: url("../img/icon/socials/tg.svg");
}
.socials__item--tg:hover {
  background-image: url("../img/icon/socials/tg-h.svg");
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 55px;
}

.footer__container {
  max-height: 90px;
}

.contacts {
  color: black;
  font-style: normal;
  font-size: 18px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu__link {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E01F3D;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}